<!DOCTYPE html>
<html>
<head>
    <title>Вход в админку</title>
</head>
<body>
    <h2>Вход в админку</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div>{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method="POST">
        <input type="text" name="username" placeholder="Логин"><br>
        <input type="password" name="password" placeholder="Пароль"><br>
        <button type="submit">Войти</button>
    </form>
</body>
</html>